.page-loader div {
    display: grid;
        place-content: center;
        margin-bottom: 30px;
        text-align: center;
        justify-items: center;
    }

.beta-container {
    width: 80%;
    max-width: 1460px;
    margin: 0 auto;
    color: #ebebeb;
}
.fullWidthPage .beta-header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid #ebebeb;
}
.fullWidthPage .beta-container {
  width: 90%;
}
.fullWidthPage .beta-header .beta-header-left {
  width: 60%;
  justify-content: flex-start;
  padding: 20px;
}
.fullWidthPage .beta-header .beta-header-right {
  width: 40%;
  justify-content: flex-end;
  padding: 20px;
}
.fullWidthPage .beta-header .beta-header-right .socialIcons {
  width: auto;
}
.fullWidthPage .beta-header .beta-header-right .socialIcons a {
  display: flex;
}
.wallet-adapter-button {
  background-color: #0BBF99;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
}
.wallet-adapter-button:hover {
  background-color: #000;
  color: #0BBF99;
  border: 2px solid #0BBF99;
}
.beta-header {
    /* background-color: #ebebeb; */
    border-radius: 0px 0px 50px 50px;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 95%;
    margin: 0px auto;
    border: 2px solid #ccc;
    border-top: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.beta-header  .socialIcons {
    justify-content: flex-end !important;
}
.separator {
    width: 2px;
    height: 25px;
    background-color: #707070;
    margin: 0 10px 0 20px;
}
.socialIcons .separator {
  margin: 0 10px;
}
.beta-header-left img:first-child {
border-radius: 100px;
border: 6px double #000;
padding: 5px;
}

.beta-header-right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}

.beta-header-link {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    margin: 0px 2px;
    border-radius: 10px;
}

.beta-header-link:hover {
    background-color: white;
    color: black;
}   

.beta-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.beta-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 40px 30px;
    margin: 0px auto;
}

.beta-content-left {
    width: 55%;
}

.beta-content-left p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 10px 0px 15px;
}
.beta-content-left strong {
    color: #0BBF99;
    font-weight: bold;
    font-size: 2.5rem;
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.beta-counters {
    margin: 15px 0px 10px;
    width: 100%;
    max-width: 660px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
  }
  
  .beta-counters h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .beta-counters hr {
    width: 90%;
    margin: 0px auto;
    border: 1px solid #0BBF99;
  }
  
  .beta-counters > div {
    color: #0BBF99;
    background-color: #181726;
      border-radius: 20px;
      padding: 20px 10px;
      width: 150px;
      display: grid;
      place-items: center;
      row-gap: 8px;
      /* border: 2px solid #ccc; */
      text-align: center;
  }
  .beta-counters > div > svg {
    border: 6px double #0BBF99;
    border-radius: 50%;
    padding: 10px;
    color: #0BBF99;
  }
  .beta-counters > div  > span {
    font-size: 18px;
    font-weight: bold;
  }

  #heroTopWinners svg {
    border: 6px double #0BBF99;
    border-radius: 50%;
    color: #0BBF99;
  }
  #heroTopWinners > div {
    gap: 0px;
  }

  #heroTopWinners p {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px 0px;
  }

  #heroTopWinners span {
    font-size: 20px;
    color: #0BBF99;
    font-weight: bold;
  }

  .beta-content .styledBtn {
    background-color: black;
    color: #0BBF99;
    margin-top: 20px;
    border: 2px solid #ccc;
    width: 250px;
    font-size: 20px;
    padding: 15px;
    border-radius: 0px 50px 50px 50px;
  }

  .beta-content .styledBtn:hover {
    background-color: #0BBF99;
    color: black;
    border: 2px solid black;
  }

  .agentCard {
    position: relative;
    /* width: 300px; */
    /* max-width: 255px; */
    background-color:#181726;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    min-height: 380px;
  }
.agentCard.hero {
  width: 300px;
  min-height: auto;
}
.beta-agents-list .agentCard, .beta-breakers-list .beta-breaker {
  flex: 1 1 255px;
  max-width: 300px;
}
.beta-agents-list, .beta-breakers-list {
  justify-content: center;
}
.agentCard.hero .agent-card-content-bottom {
  position: relative;
  bottom: auto;
  left: auto;
  transform: none;
  width: 100%;
}
.agent-card-content-top {
  display: block;
}
.agent-card-content-top .challenge-card-info {
padding: 0px;
}
  .agentCard img {
    width: 80px;    
    height: 80px;
    border: 6px double #ebebeb;
    object-fit: cover;
    border-radius: 50%;
  }
.agentCard .level {
    width: fit-content;
    padding: 3px 20px;
margin: 0px auto 5px;
min-width: 60px;
font-size: 14px;
font-weight: bold;
text-align: center;
}
.agent-card-counters {
  margin: 0px auto 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.agent-card-counters > div {
  background-color: black;
  color: #0BBF99;
  border-radius: 20px;
  padding: 15px 5px;
  width: 50%;
  display: grid;
  place-items: center;
  row-gap: 10px;
  border: 2px solid #ccc;
  text-align: center;
}
.agent-card-counters span {
  font-size: 14px;
  font-weight: bold;
}
.agent-card-counters > div hr {
  width: 90%;
  margin: 0px auto;
  border: 1px dashed #0BBF99;
}
.agent-card-prize-pool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  background-color: black;
  color: #0BBF99;
  border-radius: 20px;
  padding: 3px 10px;
  width: fit-content;
  min-width: 200px;
  margin: 8px auto 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px dashed;
}

.agent-card-content-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.agentCard button {
    background-color: black;
    color: #0BBF99;
    border: 2px solid black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.agentCard button:hover {
    background-color: #0BBF99;
    color: black;
    border: 2px solid black;
}
.status-container {
    position: absolute;
    top: 10px;
    left: 10px;
    /* display: flex;
    align-items: center;
    column-gap: 10px; */
}
.status-container p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.status-bulb {
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .status-bulb.live {
    background-color: #35fd92c9;
    box-shadow: 0 0 20px 5px rgba(26, 253, 136, 0.7);
    animation: pulse 2s infinite;
  }
  
  .status-bulb.inactive {
    background-color: #f44336; 
    box-shadow: none;
    opacity: 0.6;
  }

  .status-bulb.upcoming {
    background-color: #cde404;
    opacity: 0.6;
    animation: bluePulse 2s ease-in-out infinite; /* Smooth easing */
  }
  
  @keyframes bluePulse {
    0% {
      box-shadow: 0 0 10px 5px rgba(238, 255, 0, 0.7);
    }
    50% {
      box-shadow: 0 0 30px 8px rgba(238, 255, 0, 1);
    }
    100% {
      box-shadow: 0 0 10px 5px rgba(238, 255, 0, 0.7);
    }
  }
  

  /* Pulse Animation */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 10px 5px rgba(76, 175, 80, 0.7);
    }
    50% {
      box-shadow: 0 0 30px 8px rgba(76, 175, 80, 1);
    }
    100% {
      box-shadow: 0 0 10px 5px rgba(76, 175, 80, 0.7);
    }
  }


  
  .beta-agents {
    padding: 20px 30px;
  }

  .beta-agents-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  /* .beta-agents-list > .agentCard {
    padding-bottom: 50px;
  }

  .beta-agents-list > .agentCard button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  } */

  .beta-breakers {
    padding: 20px 30px 30px;
  }

  .beta-breakers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .beta-breaker {
    background-color: #181726;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
    /* width: 320px; */
    /* max-width: 255px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .beta-breaker p {
margin: 5px 0px;
font-size: 12px;
  }

  .beta-breaker span {
    font-size: 24px;
    font-weight: bold;
    color: #0BBF99;
  }
  .beta-breaker svg {
    border: 6px double #ebebeb;
    border-radius: 50%;
    padding: 10px;
    color: #0BBF99;
  }
  .beta-breaker-address {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: black;
    color: #0BBF99;
    padding: 2px 10px;
    border-radius: 50px;
  }

  .beta-breaker-separator {
    height: 100px;
    width: 2px;
    background-color: #ebebeb;
  }

  .beta-footer {
    display: grid;
    padding: 40px 20px 20px;
    place-items: center;
    text-align: center;
  }

  .beta-footer .mainLogo {
    width: 60px;
    height: 60px;
    border-radius: 80px;
    border: 6px double #ebebeb;
    margin-bottom: 10px;
  }
  .beta-footer-links {
    margin-top: 20px;
  }

  .live {
    animation: pulse 2s infinite;
  }

  .deploy-program-container {
    display: grid;
    place-items: center;
    width: 720px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    color: #0BBF99;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 2px solid #0BBF99;
  }
  .deploy-program-container hr {
    width: 100%;
    margin: 20px auto;
    border: 2px solid #0BBF99;
  }

  .deploy-program-container p {
    font-size: 1.3rem;
  }
  .deploy-program-container button {
    background-color: #0BBF99;
    color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
  }
  .deploy-program-container button:hover {
    background-color: #000;
    color: #0BBF99;
    border: 2px solid #0BBF99;
  }
  .all-breakers-title span, .all-agents-title span {
    font-size: 2.2rem;
    font-weight: bold;
    color: #0BBF99;
  }
  .beta-breaker-load-more {
    background-color: #0BBF99;
    color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    margin: 20px auto;
  }
  .beta-breakers-view-all {font-size: 16px; color: #0BBF99; font-weight: bold;}
  @media screen and (min-width:768px) {
    .beta-counters svg, .beta-counters br, .beta-counters hr {
      display: none !important;
    }
    .mobile {
      display: none;
    }
    .inline-counters {
      width: 100%;
      font-size: 16px;
    }
    .beta-counters.inline-counters > div {
      min-width: 220px;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      padding: 8px 20px;
      border-radius: 50px;
    }
    .beta-counters.inline-counters h4 {
      font-size: 16px;
    }
    .beta-counters.inline-counters span {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 768px) {
    .desktop {
      display: none;
    }
    .beta-footer {
      justify-content: center !important;
      margin: auto !important;
    }
    .beta-header {
      width: 100% !important;
      padding: 0px !important;
      margin: 0px auto !important;
    }
    .beta-header .mobile {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      /* border-bottom: 2px solid #ebebeb; */
    }
    .beta-container {
      width: 100% !important;
    }
    .beta-mobile-header-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 10px;
      width: 85%;
      padding: 15px 10px;
    }
    .beta-mobile-header-right {
      padding: 15px 10px;
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .beta-mobile-header-left img:first-child {
      width: 40px;
      height: 40px;
      border-radius: 50px;
      border: 6px double #000;
      padding: 5px;
    }
    .beta-mobile-header-left img:last-child {
      width: 140px;
      height: auto;
    }
   .mainMenu .chatMainMenuItem {
    background-color: #000;
    color: #ebebeb;
    border: 2px solid #ebebeb;
    padding: 10px;
    border-radius: 20px;
   }

   .all-breakers-title, .all-agents-title {
    display: block;
    width: 95%;
    margin: 0px auto;
   }
   .all-breakers-title h1, .all-agents-title h1 {
    font-size: 28px;
    margin: 0px;
   }
   .all-breakers-title span, .all-agents-title span {
    font-size: 22px;
    margin: 0px;
   }
   .chatPageSocialMenu {
    width: 90% !important;
    height: auto !important;
  }
  .beta-agents-list .agentCard, .beta-breakers-list .beta-breaker {
    max-width: 320px;
  }
   .chatPageSocialIcons {
    margin-top: 20px;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    column-gap: 5px !important;
  }
  .chatPageSocialIcons a {
    margin: 0px 5px;
    border-radius: 100px;
    background-color: #ccc;
    color: #1E1A39;
    padding: 5px;
    border: 2px solid #ccc;
    display: flex;
        justify-content: center;
        align-items: center;
  }
  .agentCard.hero {
    width: 95%;
    max-width: fit-content;
  }
  .beta-content {
    padding-top: 0px;
    width: 90% !important;
    flex-direction: column;
    padding: 0px;
    margin: 0px auto;
  }
  .beta-content-left {
    width: 98% !important;
    text-align: center;
  }
  .beta-content-left a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .beta-content-left .styledBtn {
    /* width: 95% !important; */
    margin: 10px auto !important;
  }
  .beta-content-right {
    width: 98% !important;
    justify-items: center;
    margin: 0px auto;
  }
  .beta-content-left h1 {
    font-size: 28px;
  }
  .beta-content-left p {
    font-size: 1.2rem;
    margin: 10px 0px;
  }
  .beta-content-left hr {
    width: 100% !important;
  }
  .beta-counters {
margin-top: 20px;
  }
  .beta-counters div {
    padding: 20px 10px;
    width: 50% !important;
  }
  .beta-counters span {
    font-size: 22px !important;
  }
  .beta-counters div:nth-child(2) {
    display: none;
  }
  .deploy-program-container {
    width: 80% !important;
  }

  .deploy-program-container p {
    font-size: 1rem;
  }
  /* .beta-counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
  } */
  /* .beta-counters > div {
    width: 44%;
  }
  .beta-counters > div:first-child {
    width: 100%;
  } */
  .beta-content .styledBtn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 50px !important;
  }
  .chatInfoSection {
    display: none !important;
  }
  .chatPageMain {
    width: 100% !important;
  }
  .beta-agents, .beta-breakers {
    width: 90% !important;
    margin: auto !important;
  }
  .beta-breakers {
    padding: 20px 0px 30px !important;
  }

  .beta-agents {
    padding: 20px 0px !important;
  }

  #heroTopWinners {
    display: none !important;
    padding: 10px 0px 20px !important;
    justify-content: center !important;
    column-gap: 5px !important;
  }
  /* #heroTopWinners > div:last-child {
    display: none;
  }

  #heroTopWinners span {
    font-size: 18px !important;
  } */
  }