.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-card {
    position: relative;
    flex: 1 1 auto;
    max-width: 200px;
    transform: scale(0.8);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.6;
  }
  
  .carousel-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .carousel-card.active {
    flex: 2 1 auto;
    max-width: 300px;
    transform: scale(1);
    opacity: 1;
  }
  
  .carousel-card.side {
    opacity: 0.8;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-content: end;
  }
  
  .overlay h2 {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  .overlay p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .overlay .level {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  
  .overlay button {
    background: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
  }
  
  .carousel-btn.left {
    left: 10px;
  }
  
  .carousel-btn.right {
    right: 10px;
  }
  
  @media (max-width: 768px) {
    .carousel-card {
      max-width: 100px;
    }
  
    .carousel-card.active {
      max-width: 200px;
    }
  
    .overlay h2 {
      font-size: 1rem;
    }
  
    .overlay p {
      font-size: 0.8rem;
    }
  
    .overlay button {
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  