/* General Chat Container */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    /* max-width: 600px; */
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: black;
    overflow: hidden;
  }
  
  /* Conversation Scrollable Section */
  .conversation {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;  
  }
  
  /* Chat Bubbles */
  .chat-bubble {
    position: relative;
    display: flex;
    align-items: flex-start; 
    word-wrap: break-word;
    margin-bottom: 0px;
    padding: 1rem 0rem;
    max-width: 100%;
  }
  
  .chat-bubble.user {
    /* flex-direction: row-reverse; */
    align-self: flex-start; 
    text-align: left;
    /* float: left; */
  }
  
  .chat-bubble.assistant, .chat-bubble.system {
    padding-left: 150px;
    align-self: flex-end;
    /* float: right; */
    /* justify-content: end; */
    /* flex-direction: row-reverse; */
  }
  .chat-bubble .avatar {
    flex-shrink: 0;
    margin: 0 10px;
    width: 10%;
  }
  
  .chat-bubble.user .avatar {
/* background-color: #ccc; */
border-radius: 100px;
padding: 5px;
color: black;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
  }

  .chat-bubble.assistant .avatar, .chat-bubble.system .avatar {
    width: 8%;
  }
  .chat-bubble .avatar-image {
    border-radius: 50%;
    background-color: #ddd;
  }
  
  .chat-bubble .message {
    max-width: 85%;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 0.9rem;
    word-wrap: break-word;
    text-align: left;
  }

  .message div {
    word-break: break-word;
  }

  .chat-bubble.assistant .message,  .chat-bubble.system .message  {
    max-width: 95%;
    width: fit-content;
  }

  .chat-bubble.user .message {
    background-color: #dcf8c6;
    color: #000;
  }
  
  .chat-bubble:not(.user) .message {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
  }
  
  .message p {
    margin: 0px;
  }
  /* Loading Indicator */
  .loading-indicator {
    display: flex;
    justify-content: center;
    margin: 25px;
  }
  
  /* Chat Footer */
  .chat-footer {
    position: sticky;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  textarea::-webkit-scrollbar {
    display: none;
  }
  .chat-footer input[type="text"], .chat-footer textarea {
    flex: 1;
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #ccc;
    /* margin-right: 10px; */
  }
  
  .chat-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    color: #09bf99;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 48px;
    min-width: 80px;
  }


  /* .chat-footer button:hover {
    background-color: #1e0052;
  } */
  
  .chatPageMain .mainMenu {
    display: grid;
  }


  .chatMainMenuItem {
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-align: left;
    background-color: #1F2024;
color: #ccc;

  }
  .chatMainMenuItem:hover {
    background-color: #ccc;
    color: #1F2024;
    border: 1px solid #1F2024;
  }
.chatMainMenuItem svg {
    position: relative;
    top: 4px;
}

.chatComingSoonMenuItem {
margin: 10px 0px;
}

.chatComingSoonMenuItem h4 {
font-size: 16px !important;
margin: 0px;
color: lightgray;
}
.chatComingSoonMenuItem span {
font-size: 26px;
color: white;
}

.chatPageSocialMenu:hover {
background-color: #1F2024;
color: #ccc;
border: 0px;
}

  .chatPageSocialIcons {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    }
    
    
    .chatPageSocialIcons svg {
      margin: 0px 5px;
    border-radius: 100px;
    background-color: #ccc;
    fill: #1E1A39;
    padding: 5px;
    border: 2px solid #ccc;
    }
    .chatPageSocialIcons svg:hover {

    background-color: #1E1A39;
    fill: #ccc;
    }
  /* .chatMainMenuItem a {

  } */

  @media screen and (max-width:768px) {
    .desktopMenu, .desktopChatMenu, .chatPageMain .desktopMenu {
      display: none;
    }
    .chatPageMain {
      padding: 0px;
    }
    .conversation {
      /* overflow-y: scroll;
      max-height: 90vh; */
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: calc(100vh - 80px);
      padding-bottom: 80px;  
    }
    .conversationSection {
      width: 100%;
    }
    .chat-container {
      /* height: 75vh; */
      /* overflow-y: hidden; */

      border: 0px;
      border-radius: 0px;
      /* display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: calc(100vh - 60px);
      padding-bottom: 60px;   */
    }
    .chat-bubble.assistant, .chat-bubble.system {
      padding-left: 50px;
      align-self: flex-end;
      /* float: right; */
      /* justify-content: end; */
    }

    .chat-footer {
      padding: 10px 0px;
      position: fixed;
      width: 100%;
    }

    .chat-footer div form {
      width: 95% !important;
    }
    .chat-footer div form input, .chat-footer div form textarea {
      width: 90% !important;      
    }

    .poolDiv {
      display: none;
    }

/* Mobile Menu Container */
.mobileMenu {
  /* position: relative; */
  z-index: 10000000;
  width: 100%;
}

.chatHeader {
padding-bottom: 0px;
}
.chatHeader hr {
  margin-bottom: 0px;
}

.challengeTitle {
  border-bottom: 2px solid #ccc;
}
/* Hamburger Icon */
.hamburgerIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #333;
  z-index: 1100;
  background-color: #ccc;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

/* Menu Items */
.mainMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  padding: 40px 20px;
  z-index: 1000;
  overflow-y: scroll;
}

.mainMenu.open {
  transform: translateX(0);
  z-index: 99999;
}

.chat-bubble .message {
  max-width: 75%;
}
/* Menu Item Links */
.chatMainMenuItem {
  display: flex !important;
  align-items: center !important;
  font-size: 18px !important;
  margin: 4px 0 !important;
  color: #ccc;
  text-decoration: none !important;
  width: 70% !important;
  column-gap: 5px !important;
}

.chatMainMenuItem:hover {
  color: #007bff;
}
.chatMainMenuItem svg {
  top: 0px;
}
/* Social Menu */
.chatPageSocialMenu {
  margin-top: 20px;
}

.chatPageSocialMenu {
  display: grid !important;
}

.chatPageSocialMenu span {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
}

.chatPageSocialMenu hr {
  margin: 10px 0;
  border: 0.5px solid #ddd;
}

.chatPageSocialIcons {
justify-content: start !important;
}

.chatPageSocialIcons a {
  margin: 0px !important;
  /* margin: 0 10px; */
  color: #333;
  text-decoration: none;
}

.chatPageSocialIcons a:hover {
  color: #007bff;
}
.chatMenu {
  width: 100%;
  text-align: left;
  color: black;
}
.chatComingSoonMenuItem {
  color: black;
}
  }