.faq-container {
    /* max-width: 800px; */
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
  }
  
  .faq-title {
    font-size: 2rem;
    text-align: left !important;
    margin-bottom: 20px;
    color: #ebebeb;
  }
  
  .faq-items {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    background: #181726;
  }
  
  .faq-item {
    border-bottom: 1px solid #ddd;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-question {
    cursor: pointer;
    padding: 15px 20px;
    background: #181726;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ebebeb;
  }
  
  .faq-question:hover {
    background: #000;
  }
  
  .faq-toggle-icon {
    font-size: 1.5rem;
    color: #0bbf99;
  }
  
  .faq-answer {
    padding: 15px 20px;
    background: #000;
    font-size: 1rem;
    color: #ebebeb;
  }
  
  @media (max-width: 768px) {
    .faq-title {
      font-size: 1.5rem;
    }
  
    .faq-question {
      font-size: 1.1rem;
    }
  
    .faq-answer {
      font-size: 0.95rem;
    }
    .faq-container {
      width: 100%;
    }
  }
  